body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(145deg, #343541, #444654);
    color: #ffffff;
}

h1, h4 {
    color: #ffffff;
}

.bg {
    text-align: center;
    padding: 20px;
}

#bot_img{
    margin: 30px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px auto;
    max-width: 80%;
}

/* Left actions section */
.actions {
    width: 40%;
    background-color: #444654;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.action-category {
    margin-bottom: 20px;
}

.action-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2b2d33;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.action-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.action-example {
    color: #d5d5d5;
    font-style: italic;
}

/* Right chatbot image section */
.chatbot-image {
    width: 45%;
    text-align: center;
}

.chatbot-image img {
    max-width: 100%;
    height: auto;
}

.boxed {
    background-color: #444654;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    height: 122px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#userInput {
    height: 100px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: #2b2d33;
    color: #ffffff;
    resize: none;
    box-sizing: border-box;
    font-size: 18px;
}

#userInput::placeholder {
    color: #b1b1b1;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

#charCount {
    font-size: 16px;
    color: #ffffff;
    text-align: right;
    margin-top: 5px;
}
